.inside {
  padding-top: 40px;
  padding-bottom: 40px;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 800px;
    @include laptop-s {
      width: auto;
    }
    &-img {
      width: 800px;
      height: 300px;
      border-radius: var(--radius);
      @include laptop-s {
        width: auto;
      }
    }
  }
  &__columns {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    @include mobile {
      flex-direction: column;
    }
    &-left {
      width: 440px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @include laptop {
        width: auto;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 320px;
      @include laptop {
        width: 100%;
      }
      &-img {
        height: 170px;
        border-radius: var(--radius);
      }
    }

  }
  &__interactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-button {
      color: var(--primary);
      background-color: var(--secondary--muted);
      height: auto!important;
    }
  }
  &__container {
    padding-right: 140px;
    padding-left: 260px;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    @include laptop {
      row-gap: 40px;
      padding-right: 80px;
      padding-left: 80px;
    }
    @include mobile {
      flex-direction: column;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  &__column-right {
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @include laptop {
      width: auto;
    }
    @include laptop-s {
      display: none;
    }
  }
  &__column-left {
    width: 1150px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include laptop {
      width: -webkit-fill-available;
    }
  }
  &__news {
    display: flex;
    flex-direction: column;
    &-header {
      display: flex;
    }
    &-item {
      border: solid 1px rgba(47, 34, 34, 0.1);
      padding-bottom: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    &-data {
      color: #E5E4E4;
    }
  }
  &__form {
    background-color: var(--secondary--muted);
    border-radius: var(--radius);
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &-email {
      outline: none;
      background-color: var(--foreground);
      padding: 13px 10px 13px 30px;
      height: 23px;
    }
    &-subscribe {
      padding: 13px 68px 13px 68px;
      background-color: var(--primary);
      color: var(--background);
    }
  }

}


.inside--page {
  background-color: var(--background);
}