.intro--category {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  background-color: var(--secondary--muted);
  transform: scaleX(1);
  color: var(--primary);
}
.intro--page {
  background-color: var(--background);
  transform: scaleX(1)!important;
}

.intro__img {
  height: 300px;
  width: 1500px;
  border-radius: var(--radius);
}

.intro {
  transform: scaleX(1.145);
  @include mobile {
    display: none;
  }
  &__mobile {
    display: none;
    @include mobile {
      display: block;
    }
  }
}