.intro--category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  background-color: var(--secondary--muted);
  transform: scaleX(1);
  color: var(--primary);
}
.intro--page {
  background-color: var(--background);
}

.intro__img {
  height: 300px;
  width: 1500px;
  border-radius: var(--radius);
}

.intro {
  transform: scaleX(1.145);
}