.main--text {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
}
.title--text {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary);
}

.little-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary);
}

.little-text-2 {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-foreground);
}

.super--little-text {
  font-weight: 400;
  font-size: 14px;
}