:root {

  --background: #ffffff;
  --foreground: #F0F0F0;

  --primary: #5D71DD;
  --primary-foreground: #ffffff;

  --secondary: #2F2222;
  --secondary-foreground: #2F222266;

  --muted: #F5F3F3;
  --muted-foreground: #070707;

  --primary-muted: #7D8DE4;
  --secondary--muted: #5D71DD0D;

  --radius: 20px;
}